APP_NAME = "google-translate-api"
PORT = 8080
LIVENESS_PROBE_PORT = 8081
GRACEFUL_SHUTDOWN_SECONDS = 30
ENABLE_HTTP2 = true
DEVELOPMENT_MODE = true

GOOGLE_TRANSLATE_V2_API_KEY = 
GOOGLE_APPLICATION_CREDENTIALS = 

# Only 'us-central1' or global for location portion of key
GOOGLE_TRANSLATE_V3_PROJECT_KEY = 

